{% extends 'base.html.twig' %}

{% block desc %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords|join(', ') }}{% endblock %}
{% block title %}{{ site_name }}{% endblock %}

{% block body %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">{{ site_name }}</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">首页</a></li>
          <li><a class="nav-link scrollto" href="#about">关于我们</a></li>
          <li><a class="nav-link scrollto" href="#services">产品方案</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">典型案例</a></li>
          <li><a class="nav-link scrollto" href="#team">团队介绍</a></li>
          <li class="dropdown"><a href="#"><span>企业动态</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">公司新闻</a></li>
              <li><a href="#">行业动态</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">联系我们</a></li>
          <li><a class="getstarted scrollto" href="#about">了解更多</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">科技创造美好未来</h2>
                <p class="animate__animated animate__fadeInUp">科学探索与技术创新是推动人类文明进步和社会发展的主要力量。创新开创未来，实干成就梦想。</p>
                <div>
                  <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">查看详情</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">用户为本，科技向善</h2>
                <p class="animate__animated animate__fadeInUp">一切以用户价值为依归，将社会责任融入产品及服务之中；推动科技创新与文化传承，助力各行各业升级，促进社会的可持续发展。</p>
                <div>
                  <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">查看详情</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">开放、合作、共赢</h2>
                <p class="animate__animated animate__fadeInUp">与不同行业的合作，促进跨领域、跨技术和跨手段的交流和协作，携手构建适应产业健康和谐发展的生态环境，推动数字经济发展。</p>
                <div>
                  <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">查看详情</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
          <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
              <h3>{{ about.0 }}</h3>
              <p>{{ about.0.synopsis }}</p>
              <div class="row">
              {% for i in about|slice(1,4) %}
                <div class="col-md-6 icon-box">
                  <i class="bx bx-receipt"></i>
                  <h4>{{ i }}</h4>
                  <p>{{ i.synopsis }}</p>
                </div>
              {% endfor %}
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row no-gutters">

        {% for i in about|slice(5,8) %}
          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-{{ i.icon }}"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{ i.synopsis }}" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>{{ i }}</strong> </p>
            </div>
          </div>
        {% endfor %}

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>{{ product }}</h2>
          <p>{{ product.synopsis }}</p>
        </div>

        <div class="row">
        {% for i in product_list %}
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-{{ i.icon }}"></i></div>
            <h4 class="title"><a href="">{{ i }}</a></h4>
            <p class="description">{{ i.synopsis }}</p>
          </div>
        {% endfor %}
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="section-title">
          <h2>{{ why }}</h2>
          <p>{{ why.synopsis }}</p>
        </div>

        <div class="row">

        {% for i in why_list %}
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>{{ "%02d"|format(loop.index) }}</span>
              <h4>{{ i }}</h4>
              <p>{{ i.synopsis }}</p>
            </div>
          </div>
        {% endfor %}

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>{{ portfolio }}</h2>
          <p> {{ portfolio.synopsis }}</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">全部</li>
              <li data-filter=".filter-portfolio-office">智慧办公</li>
              <li data-filter=".filter-portfolio-data">智慧数据</li>
              <li data-filter=".filter-portfolio-accounting">智慧财务</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

        {% for i in portfolio_list %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-{{ i.tag[0].label }}">
            <div class="portfolio-wrap">
              <img src="/img/{{ i.img }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{ i }}</h4>
                <p>{{ i.synopsis }}</p>
                <div class="portfolio-links">
                  <a href="/img/{{ i.img }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ i }}"><i class="bx bx-plus"></i></a>
                  <a href="#portfolio" title="查看详情"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>{{ team }}</h2>
          <p>{{ team.synopsis }}</p>
        </div>

        <div class="row">
        
        {% for i in member_list %}
          <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.{{ loop.index0 }}s">
            <div class="member">
              <img src="/img/{{ i.img }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>{{ i.title }}</h4>
                  <span>{{ i.synopsis }}</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2>{{ price }}</h2>
          <p>{{ price.synopsis }}</p>
        </div>

        <div class="row">

        {% for i in price_list %}
          <div class="col-lg-4 col-md-6">
            <div class="box {{ loop.index == 2 ? 'recommended' }}">
              <h3>{{ i }}</h3>
              <h4><sup>¥</sup>{{ i.synopsis }}<span> / 月</span></h4>
              {{ i.body|raw }}
              <div class="btn-wrap">
                <a href="#" class="btn-buy">预 定</a>
              </div>
            </div>
          </div>
        {% endfor %}

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2>{{ faq }}</h2>
          <p>{{ faq.synopsis }}</p>
        </div>

        <div class="faq-list">
          <ul>
          {% for i in faq_list %}
            <li data-aos="fade-up" data-aos-delay="{{ loop.index0 * 100 }}">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="{{ loop.first ? 'collapse' : 'collapsed'}}" data-bs-target="#faq-list-{{ loop.index }}">{{ i }}<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-{{ loop.index }}" class="collapse {{ loop.first ? 'show'}}" data-bs-parent=".faq-list">
                <p>
                {{ i.synopsis }}
                </p>
              </div>
            </li>
          {% endfor %}
          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>{{ contact }}</h2>
          <p>{{ contact.synopsis }}</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="bi bi-geo-alt"></i>
              <h3>地址</h3>
              <address>{{ address }}</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="bi bi-phone"></i>
              <h3>电话</h3>
              <p><a href="tel:{{ phone }}">{{ phone }}</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="bi bi-envelope"></i>
              <h3>邮箱</h3>
              <p><a href="mailto:{{ email }}">{{ email }}</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="您的姓名" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="您的邮箱" data-rule="email" data-msg="Please enter a valid email">
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="标题" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="内容" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">发送</button></div>
          </form>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>{{ site_name }}</h3>
              <p>{{ address }} <br>
                <strong>电话:</strong> {{ phone }}<br>
                <strong>邮箱:</strong> {{ email }}<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>导航</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">首页</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">关于我们</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">产品</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/policy">用户条款</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/privacy">隐私声明</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>产品</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">产品1</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">产品2</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">产品3</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">产品4</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">产品5</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>{{ site_name }}</span></strong>. 版权所有
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/groovin-free-bootstrap-theme/ -->
        <a href="https://beian.miit.gov.cn">{{ icp }}</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
{% endblock %}
